<div class="row question">

    {% include "../include/answerhead.html" %}

    <div class="col-9">

        <a name="{{ answer.id }}"></a>

        <div>
            {{ answer.text }}
        </div>

        <div class="form-check checkCorrect">
            {% if not question.author.user == request.user %}
                {% if answer.correct == True %}
                    <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                           data-id="{{ answer.id }}" data-qid="{{ question.id }}" checked disabled>
                {% else %}
                    <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                           data-id="{{ answer.id }}" data-qid="{{ question.id }}" disabled>
                {% endif %}
            {% else %}
                {% if answer.correct == True %}
                    <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                           data-id="{{ answer.id }}" data-qid="{{ question.id }}" checked>
                {% else %}
                    <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                           data-id="{{ answer.id }}" data-qid="{{ question.id }}">
                {% endif %}
            {% endif %}
            <label class="form-check-label">
                Correct!
            </label>
        </div>

    </div>

</div>