<div class="row question">

    {% include "../include/answerhead.html" %}

    <div class="col-9">

        <div>
            {{ answer.text }}
        </div>

        <div class="form-check checkCorrect">
            {% if answer.correct == True %}
                <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                       data-id="{{ answer.id }}" data-qid="{{ question.id }}" checked>
            {% else %}
                <input class="js-correct form-check-input" type="checkbox" id="correct{{ answer.id }}"
                       data-id="{{ answer.id }}" data-qid="{{ question.id }}">
            {% endif %}
            <label class="form-check-label" for="flexCheckDefault">
                Correct!
            </label>
        </div>

    </div>

</div>