<div>

    <div class="logError">Sorry, wrong password!</div>

    <form class="fieldWidth">

        <div class="row mb-3">

            <label for="inputLogin" class="col-sm-2 col-form-label col-form-label-lg">Login</label>

            <div class="col-sm-10">
                <input type="Login" class="form-control form-control-lg" id="inputLogin" placeholder="Enter your login">
            </div>

        </div>

        <div class="row mb-3">

            <label for="inputPas" class="col-sm-2 col-form-label col-form-label-lg">Password</label>

            <div class="col-sm-10">
                <input type="Password" class="form-control form-control-lg" id="inputPas"
                       placeholder="Enter your password">
                <button class="btn btn-outline-success lowButton" type="submit">Log in!</button>
                <a href="{% url 'signup' %}">
                    <div class="newAcc">create new account</div>
                </a>
            </div>

        </div>

    </form>

</div>