
<!doctype html>
<html lang="en" class="h-100">



<head>
    <meta charset="utf-8">
    <title>AskMe</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="/static/css/my.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

<header>

    <div class="container-fluid ">

        <div class="row">

            <div class="col-3 logo">
                <a href="/">AskNikitina</a>
            </div>

            <div class="col-6 searchField">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-outline-success" type="submit"><a href="/ask/">Ask!</a></button>
            </div>



                <div class="col-1 headerAvatar">
                    <img src="/uploads/avatar/2021/05/31/c36c30accc811453cc3b70c56f7334fa_JjArUcA.png">
                </div>

                <div class="col-2 profile">
                    <div class="name">zdesbilaksenia</div>
                    <div class="profileHrefs">
                        <a href="/settings/">settings </a>
                        <a href="/logout/">log out</a>
                    </div>
                </div>


        </div>

    </div>

</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">

        <div class="row">

            <div class="col-9">


    <div class="bigText">
        <span class="bigText">New Questions</span>
        <a href="/hot/">Hot Questions</a>
    </div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar/2021/05/31/c36c30accc811453cc3b70c56f7334fa_JjArUcA.png">
    </div>

    <div class="like">
        <div id="question113154">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="113154">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="113154">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/113154/"><h2>nfgpfr3</h2></a>

        <div>
            mfpjgpverg
        </div>

        <div class="underQuestionText">

    <a href="/question/113154/"><span>answer(0)</span></a>
    <span>Tags:</span>


        <a href="/tag/hw6/"><span>hw6</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar/2021/05/31/c36c30accc811453cc3b70c56f7334fa_JjArUcA.png">
    </div>

    <div class="like">
        <div id="question113153">6</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="113153">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="113153">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/113153/"><h2>Ksenia</h2></a>

        <div>
            Ksenia
        </div>

        <div class="underQuestionText">

    <a href="/question/113153/"><span>answer(1)</span></a>
    <span>Tags:</span>


        <a href="/tag/z/"><span>z</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question113151">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="113151">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="113151">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/113151/"><h2>trnytmyu</h2></a>

        <div>
            ebherherh
        </div>

        <div class="underQuestionText">

    <a href="/question/113151/"><span>answer(0)</span></a>
    <span>Tags:</span>


        <a href="/tag/box/"><span>box</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar/2021/05/30/u8ry7yTs3kQ_7YJRoIW.jpg">
    </div>

    <div class="like">
        <div id="question113152">1</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="113152">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="113152">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/113152/"><h2>check</h2></a>

        <div>
            g4e5h65j
        </div>

        <div class="underQuestionText">

    <a href="/question/113152/"><span>answer(0)</span></a>
    <span>Tags:</span>


        <a href="/tag/tag/"><span>tag</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar/2021/05/31/c36c30accc811453cc3b70c56f7334fa_JjArUcA.png">
    </div>

    <div class="like">
        <div id="question113150">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="113150">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="113150">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/113150/"><h2>check</h2></a>

        <div>
            check
        </div>

        <div class="underQuestionText">

    <a href="/question/113150/"><span>answer(1)</span></a>
    <span>Tags:</span>


        <a href="/tag/various/"><span>various</span></a>

        <a href="/tag/activity/"><span>activity</span></a>

        <a href="/tag/box/"><span>box</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question76">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="76">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="76">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/76/"><h2>Character computer system worry edge computer seem.</h2></a>

        <div>
            Determine beyond think station information seat possible.. During window share store while green.. Reveal soon describe wind administration current look newspaper.
        </div>

        <div class="underQuestionText">

    <a href="/question/76/"><span>answer(14)</span></a>
    <span>Tags:</span>


        <a href="/tag/program/"><span>program</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question141">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="141">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="141">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/141/"><h2>Real sea international around chance present situation exist.</h2></a>

        <div>
            Agree fight decision listen skin.. Billion result hard back quickly enter professor.. Western firm resource control office anything.
        </div>

        <div class="underQuestionText">

    <a href="/question/141/"><span>answer(6)</span></a>
    <span>Tags:</span>


        <a href="/tag/product/"><span>product</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question169">4</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="169">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="169">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/169/"><h2>Least southern enter skin research with.</h2></a>

        <div>
            Certainly without turn exist common forget.. Young ready three fish.. Smile go TV question success operation service.
        </div>

        <div class="underQuestionText">

    <a href="/question/169/"><span>answer(5)</span></a>
    <span>Tags:</span>


        <a href="/tag/population/"><span>population</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question217">5</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="217">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="217">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/217/"><h2>Do individual message together general note live.</h2></a>

        <div>
            Yet address miss economic.. Field inside leader teacher.
        </div>

        <div class="underQuestionText">

    <a href="/question/217/"><span>answer(6)</span></a>
    <span>Tags:</span>


        <a href="/tag/result/"><span>result</span></a>


</div>

    </div>

</div>





<div class="row question">



<div class="col-3">

    <div class="questionImg">
        <img src="/uploads/avatar.png">
    </div>

    <div class="like">
        <div id="question442">0</div>
        <button type="button" id="like" class="js-vote btn btn-primary" data-model="question" data-action="like"
                data-id="442">
            Like
        </button>
        <button type="button" id="dislike" class="js-vote btn btn-danger" data-model="question" data-action="dislike"
                data-id="442">
            Dislike
        </button>
    </div>

</div>

    <div class="col-9">

        <a href="/question/442/"><h2>Down work travel moment.</h2></a>

        <div>
            Pass generation throw away partner.. Should change senior.. Hold bed name actually sometimes adult report.. Ready fire man since evening.
        </div>

        <div class="underQuestionText">

    <a href="/question/442/"><span>answer(5)</span></a>
    <span>Tags:</span>


        <a href="/tag/reflect/"><span>reflect</span></a>


</div>

    </div>

</div>



    <nav aria-label="Page navigation example" class="pagination">

        <ul class="pagination">


            <li class="page-item active" Page 1 of 11315
                aria-current="page">
                <a class="page-link" href="?page=1">1</a>
            </li>


                <li class="page-item">
                    <a class="page-link" href="?page=2">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=11315">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>


        </ul>

</nav>


            </div>

            <div class="col-3">


                    <div class="rightBlock">
                        <div class="bigText">
                            <span>Popular Tags</span>
                        </div>

                        <div class="popularTags">
                            <a href="/tag/box/"><span class="tag redTag">box</span></a>
                            <a href="/tag/approach/"><span class="tag">approach</span></a>
                            <a href="/tag/activity/"><span class="tag greenTag">activity</span></a>
                            <a href="/tag/various/"><span class="tag greenTag">various</span></a>
                            <a href="/tag/head/"><span class="tag">head</span></a>
                            <a href="/tag/chair/"><span class="tag orangeTag">chair</span></a>
                            <a href="/tag/daughter/"><span class="tag redTag">daughter</span></a>
                        </div>
                    </div>

                    <div class="rightBlock">
                        <div class="bigText">
                            <span>Best Members</span>
                        </div>

                        <div>
                            <a href="#">
                                <div class="member">Mr.Freeman</div>
                            </a>
                            <a href="#">
                                <div class="member">Dr.House</div>
                            </a>
                            <a href="#">
                                <div class="member">Bender</div>
                            </a>
                            <a href="#">
                                <div class="member">V Pupkin</div>
                            </a>
                        </div>
                    </div>



            </div>

        </div>

    </div>

</main>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/csrf.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


    <script src="/static/js/vote.js"></script>
    <script src="/static/js/correct.js"></script>


<footer class="footer">
    <span>Made by Ksenia Nikitina (c) 2021</span>
</footer>

</body>

</html>